html {
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

/* styling header start */

.header {
    background-image: url(../images/header-bg.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    /* margin: 0 166px; */
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: color 0.3s linear;
}

.nav__item:hover {
    color: #FF7400;
}

.cart {
    position: relative;
    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
}

.cart__img {
    position: absolute;
    top: 18px;
    right: 20px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    transition: color 0.3s linear;
}

.num:hover {
    color: #FF7400;
}

.phone__text {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.phone__holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 18px;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #904506;
}

.header__down {
    position: relative;
}

.header__inner {
    position: absolute;
    left: 0;
    text-align: center;
    margin-bottom: 12px;
}

.header__title {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
    margin-top: 300px;
    margin-bottom: -10px;
}

.header__title span {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 92px;
    color: #D67E35;
}

.header__subtitle {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    /* line-height: 25px; */
}

.header__subtitle::after {
    content: "";
    position: absolute;
    width: 61px;
    height: 2px;
    background: #C4C4C4;
    top: 469px;
    left: 0;
}

.header__subtitle::before {
    content: "";
    position: absolute;
    width: 61px;
    height: 2px;
    background: #C4C4C4;
    top: 469px;
    right: 0;
}

.header__button {
    background-color: #FF7400;
    padding: 14px 28px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.2s linear;
}

.header__button:hover {
    background-color: #904506;
}

/* styling header end */

/* styling section cards start */

.cards__holder {
    display: flex;
    justify-content: center;
}

.card {
    width: 349px;
    height: 328px;
    background-color: #fff;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    margin-right: 31px;
    margin-top: -80px;

    padding: 0px 10px;
}

.card__image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}

.card__title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}

.card__title span {
    margin-left: 2px;
    color: #BC9060;
}

.card__desc {
    text-align: center;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #656363;
}

/* styling section cards end */

/* styling section history start */

.history {
    margin-top: 166px;
    padding-bottom: 182px;
}

.history__holder {
    display: flex;
    justify-content: space-between;
}

.history__title {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    width: 444px;
    text-align: center;
    margin-bottom: 21px;
}

.history__title span {
    color: #D67E34;
}

.history__desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #656363;
    width: 444px;
    text-align: center;
}

.history__number {
    display: flex;
    justify-content: center;
    width: 444px;
    margin-top: 40px;
}

.number__item {
    margin-right: 60px;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: #BC9060;
    text-align: center;
    transform: translateX(50%);
}

.number__item span {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.history__images {
    position: relative;
}

.images__1 {
    position: absolute;
    z-index: 999;
    top: 65px;
    left: -570px;
}

.images__2 {
    position: absolute;
    z-index: 1;
    top: -10px;
    left: -400px;
}

.images__3 {
    position: absolute;
    z-index: 999;
    top: 164px;
    left: -240px;
}

.images__4 {
    position: absolute;
    z-index: 0;
    top: -46px;
    left: -280px;
}

/* styling section history end */

/* styling section black block start */

.black__block {
    background-image: url(../images/blackblock-bg.jpg);
}

.block__holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

.left__title {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 60px;
    color: #D67E34;
    margin-bottom: 20px;
}

.left__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.right__btn {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 18px;
    transition: background-color 0.2s linear;
}

.right__btn:hover {
    background-color: #904506;
}

/* styling section black block end */

/* styling section dishes start */

.dishes__title {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    text-align: center;
    padding-top: 132px;
    margin-bottom: 139px;
}

.dishes__title span {
    color: #D67E34;
}

.dishes__inner {
    display: flex;
    justify-content: center;
}

.dish__item {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.dish__main-img {
    margin-right: 20px;
}

.dish__text {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    margin-left: 20px;
}

/* styling section dishes end */

/* styling section menu start */

.menu {
    background-image: url(../images/999.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-bottom: 100px;
}

.menu__items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.menu__title {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #fff;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding-top: 130px;
    padding-bottom: 138px;
}

.menu__title span {
    color: #D67E35;
}

.menu__item {
    background-color: #fff;
    text-align: center;
    width: 33%;
    padding-top: 80px;
    padding-bottom: 30px;
}

.menu__item-text {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    padding-top: 22px;
}

.menu__item-subtext {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    padding-top: 17px;
}

.menu__button {
    margin-top: 20px;
}

.menu__button-btn {
    background-color: #D67E34;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    padding: 14px 67px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.menu__button-btn:hover {
    background-color: #904506;
}

.price__img {
    position: absolute;
    bottom: 0;
    right: 70px;
}

.menu__item-image {
    position: relative;
}

.price-dollar {
    position: absolute;
    bottom: 34px;
    right: 98px;
    font-family: 'Cookie';
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
}

/* styling section menu end */

/* styling section comment start */

.comment {
    background-color: #E6E5E5;
    padding-top: 104px;
    padding-bottom: 139px;
    text-align: center;
}

.comment__inner {
    max-width: 700px;
    margin: 0 auto;
}

.comment__text {
    display: flex;
    text-align: center;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 20px;
}

.comment__image {
    text-align: center;
}

.comment__type {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-align: center;
    padding-top: 16px;
}

.comment__name {
    padding-top: 9px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-align: center;
}

/* styling section comment end */

/* styling section gallery start */

.gallery__title {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    text-align: center;
    margin-top: 101px;
    margin-bottom: 60px;
}

.gallery__title span {
    color: #D67E34;
}

.gallery__content {
    display: flex;
    justify-content: center;
}

.gallery__left {
    margin-right: 20px;
}

.gallery__down,
.gallery__up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* styling section gallery end */

/* styling section cook start */

.cook {
    padding-bottom: 100px;
}

.cook__title {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 107px;
}

.cook__title span {
    color: #D67E34;
}

.cook__content {
    display: flex;
    justify-content: space-around;
}

/* styling section cook end */

/* styling footer start */

.footer {
    background-color: #000000;
    padding: 50px 0;
    color: #fff;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.copy,
.footer__button {
    transform: translateY(35%);
}

.footer__button-btn {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 18px;
    transition: background-color 0.2s linear;
}

.footer__button-btn:hover {
    background-color: #904506;
}

/* .menu__item-image img{
    width: 90%;
} */

.burger__menu {
    display: none;
}

/* styling footer end */

/* site adaptation start */

@media (max-width: 1120px) {
    .dishes__title {
        padding-top: 80px;
        margin-bottom: 100px;
    }

    .menu__title {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .gallery__content {
        display: block;
    }

    .img__gal,
    .gallery__up,
    .gallery__down {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .img__gal {
        margin-bottom: 20px;
    }

    .gallery__left {
        margin-right: 0;
    }
}

@media (max-width: 1100px) {
    .header__inner {
        margin-left: 30px;
    }

    .header__title {
        font-size: 40px;
    }

    .header__title span {
        font-size: 60px;
    }

    .header__subtitle {
        font-size: 14px;
    }

    .header__subtitle::before {
        width: 40px;
        top: 462px;
    }

    .header__subtitle::after {
        width: 40px;
        top: 462px;
    }

    .history {
        margin-top: 100px;
        padding-bottom: 150px;
    }

    .history__info {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .history__images {
        display: none;
    }

    .block__holder {
        display: block;
        padding-top: 40px;
    }

    .left__title,
    .left__text,
    .right__button {
        text-align: center;
    }

    .dishes__title {
        padding-top: 50px;
        margin-bottom: 100px;
    }

    .dish__text {
        font-size: 20px;
    }

    .menu__title {
        padding-bottom: 80px;
    }

    .cook__content {
        display: block;
    }

    .cook__content img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 970px) {
    .burger__menu {
        display: block;
    }

    .nav,
    .cart,
    .phone,
    .btn {
        display: none;
    }

    .header__line {
        justify-content: space-between;
    }

    .header__subtitle {
        margin-bottom: 27px;
    }

    .header__subtitle::before,
    .header__subtitle::after {
        content: none;
    }

    .cards__holder {
        display: block;
    }

    .card {
        margin-bottom: 100px;
        margin-right: auto;
        margin-left: auto;
        width: 500px
    }

    .card__desc {
        font-size: 18px;
    }

    .dish__main-img {
        display: none;
    }

    .menu__title {
        padding-top: 50px;
        padding-bottom: 10px;
    }

    .menu__items {
        display: block;
    }

    .menu__item {
        margin-bottom: 20px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 800px) {
    .header__inner {
        position: static;
        padding: 0;
    }

    .header__title {
        margin-top: 200px;
        font-size: 30px;
        line-height: 20px;
        color: rgb(255, 255, 254);
    }

    .header__title span {
        font-size: 50px;
        line-height: 80px;
        color: rgb(255, 255, 254);
    }

    .card,
    .menu__item {
        width: auto;
    }

    .history__info {
        width: auto;
    }

    .price {
        display: none;
    }

    .footer__content {
        display: block;
    }

    .footer__logo {
        padding-bottom: 15px;
    }

    .footer__button {
        padding-top: 30px;
    }
}

@media(max-width: 570px) {
    .wide {
        display: none;
    }

    .history__info,
    .history__title,
    .history__desc {
        width: auto;
    }

    .dish__text span {
        display: none;
    }
}

@media(max-width: 550px) {

    .history__number {
        display: block;
        width: 300px;
        margin: 0 auto;
    }

    .number__item {
        padding-top: 50px;
        margin-bottom: 30px;
        width: 150px;
    }
}

/* site adaptation start */