html{
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

/* styling header start */

.header {
    background-image: url(../images/103.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    /* margin: 0 166px; */
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: color 0.3s linear;
}

.nav__item:hover {
    color: #FF7400;
}

.cart {
    position: relative;
    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
}

.cart__img {
    position: absolute;
    top: 18px;
    right: 20px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    transition: color 0.3s linear;
}

.num:hover {
    color: #FF7400;
}

.phone__text {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.phone__holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 18px;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #904506;
}

.header__down {
    position: relative;
}

.header__title {
    position: absolute;
    left: 0;
    text-align: center;
    margin-top: 270px;
    margin-bottom: 12px;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 50px;
    /* line-height: 57px; */
    color: #D67E35;
}

.header__subtitle {
    font-weight: 400;
    font-size: 80px;
    line-height: 92px;
}

.header__suptitle {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.header__suptitle::after {
    content: "";
    position: absolute;
    width: 61px;
    height: 2px;
    background: #C4C4C4;
    top: 160px;
    left: 50px;
}

.header__suptitle::before {
    content: "";
    position: absolute;
    width: 61px;
    height: 2px;
    background: #C4C4C4;
    top: 160px;
    right: 50px;
}

.header__button {
    background-color: #FF7400;
    padding: 14px 28px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.2s linear;
}

.header__button:hover {
    background-color: #904506;
}

/* styling header end */

/* styling section cards start */

.cards__holder {
    display: flex;
    justify-content: center;
}

.card {
    width: 349px;
    height: 328px;
    background-color: #fff;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    margin-right: 31px;
    margin-top: -80px;
    padding: 0 10px;
}

.card__image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}

.card__title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}

.card__title span {
    margin-left: 2px;
    color: #BC9060;
}

.card__desc {
    text-align: center;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #656363;
}

/* styling section cards end */

/* styling section history start */

.history {
    margin-top: 166px;
    margin-bottom: 182px;
}

.history__holder{
    display: flex;
    justify-content: space-between;
}

.history__title {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    width: 444px;
    text-align: center;
    margin-bottom: 21px;
}

.history__title span {
    color: #D67E34;
}

.history__desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #656363;
    width: 444px;
    text-align: center;    
}

.history__number {
    display: flex;
    justify-content: center;
    width: 444px;
    margin-top: 40px;
}

.number__item {
    margin-right: 60px;    
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: #BC9060;
    text-align: center;
    transform: translateX(50%);
}

.number__item span {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.history__images{
    position: relative;    
}

.images__1{
    position: absolute;
    z-index: 999;
    top: 65px;
    left: -570px;
}

.images__2{
    position: absolute;
    z-index: 1;
    top: -10px;
    left: -400px;
}

.images__3{
    position: absolute;
    z-index: 999;
    top: 164px;
    left: -240px;
}

.images__4{
    position: absolute;
    z-index: 0;
    top: -46px;
    left: -280px;
}

/* styling section history end */